<div class="container mt-3" *ngIf="orderDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">Order ID : {{ orderId }}</div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <li class="list-group-item">
              Date : {{ orderDetails.createdAt | date : "dd/MM/yyyy" }}
            </li>
            <li class="list-group-item">Status : {{ orderDetails.status }}</li>
            <li class="list-group-item">
              Customer Id : {{ orderDetails.customer.id }}
            </li>
            <li class="list-group-item">
              Customer Name : {{ orderDetails.customer.name }}
            </li>
            <li class="list-group-item">
              Customer Email : {{ orderDetails.customer.email }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">Product Items List</div>
        <div class="card-body">
          <div class="table table-sm">
            <thead>
              <tr>
                <th class="text-center bg-dark text-white">Product Id</th>
                <th class="text-center bg-dark text-white">Product Name</th>
                <th class="text-center bg-dark text-white">Quantity</th>
                <th class="text-center bg-dark text-white">Price</th>
                <th class="text-center bg-dark text-white">Discount</th>
                <th class="text-center bg-dark text-white">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pi of this.orderDetails.productItems">
                <td class="text-center">{{ pi.product.id }}</td>
                <td class="text-center">{{ pi.product.name }}</td>
                <td class="text-center">{{ pi.quantity }}</td>
                <td class="text-end">{{ pi.price | number : ".2" }}</td>
                <td class="text-end">{{ pi.discount | number : ".2" }}</td>
                <td class="text-end">{{ pi.amount | number : ".2" }}</td>
              </tr>
              <tr>
                <th class="bg-light text-center" colspan="5">Total : </th>
                <td class="bg-light">{{ orderDetails.total | number : ".2" }}</td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
